DB_URL=postgresql+asyncpg://postgres-user:secure-password@pgbouncer:5432/db
LOCAL_DB_URL=postgresql+asyncpg://postgres-user:secure-password@localhost:5432/db

POSTGRES_USER=postgres-user
POSTGRES_PASSWORD=secure-password
POSTGRES_DB=db

REDIS_URL=redis://redis:6379/0
BROKER_URL=redis://redis:6379/0
RESULT_BACKEND_URL=redis://redis:6379/0
WORKER_DB_URL=postgresql+psycopg://postgres-user:secure-password@pgbouncer:5432/db

ADMIN_PASSWORD=secure-password

ACCESS_SECRET_KEY=secret-key
REFRESH_SECRET_KEY=secret-key

MAIL_PASSWORD=secure-password

MINIO_ROOT_USER=minio-user
MINIO_ROOT_PASSWORD=secure-password
MINIO_ACCESS_KEY=minio-user
MINIO_SECRET_KEY=secure-password
