DB_URL=postgresql+asyncpg://user:password@db:5432/db
TEST_DB_URL=postgresql+asyncpg://user:password@localhost:5432/test_db

REDIS_URL=redis://redis:6379/0
ACCESS_SECRET_KEY=
REFRESH_SECRET_KEY=

MAIL_PASSWORD=