DB_URL=postgresql+asyncpg://user:password@db:5432/db

REDIS_URL=redis://redis:6379/0

BROKER_URL=redis://redis:6379/0
RESULT_BACKEND_URL=redis://redis:6379/0
WORKER_DB_URL=postgresql+psycopg://user:password@db:5432/db

ACCESS_SECRET_KEY=
REFRESH_SECRET_KEY=

MAIL_PASSWORD=
